.container {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 500px;
  border-top: 10px solid #3188c0;
  border-bottom: 10px solid #3188c0;
  border-radius: 10px;
  background-color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2%;
}

.input-container input {
  width: 100%;
  padding: 0 10px;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid #d7d7d7;
  background: #e7e9ee;
  font-weight: 400;
  outline: 0;
}

.input-container input::placeholder {
  color: #969CB3;
}

.input-container input + input {
  margin-top: 1rem;
}

.input-container label + input {
  margin-bottom: 10px;
}

.buttons-container{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button{
  padding: 5% 10%;
  font-size: 16px;
  border-radius: 8px;
  border: 0;
  transition: filter 0.2s;
  color: white;
}

button:hover {
  filter: brightness(0.9); 
}

.register-btn{
  background-color: #3188c0;
}

.back-btn{
  background-color: #ce1126;
}
